h1 {
  background-color: blue;
}

h1:hover {
  background-color: red;
  font-size: 400%;
}

ul {
  background-color: yellow;
}

ul:hover {
  font-size: 150%
}

ul > li:hover {
  background-color: green;
}

li:hover {
  background-color: red;
}

#weirdHovers {
  width: 50%;
  margin: auto;
}